* {
    margin: 0 auto;
    white-space: nowrap;
}
html, body {
    height: 100%;
    font-size: 20px;
    line-height: 2em;
}
h1 {
      font-size: 1.8em;
      line-height: 1.4em;
}
h2 {
      font-size: 1.0em;
      line-height: 0.9em;
}
h3 {
      font-size: 1.2em;
      line-height: 1.2em;
}
#roboto {
      font-family: "Roboto";
      padding-left: 35%;
}
#sans-serif {
      font-family: sans-serif;
      padding-left: 35%;
}
#serif {
      font-family: serif;
      padding-left: 35%;
}
#monospace {
      font-family: monospace;
      padding-left: 35%;
}
p,
hr {
      margin-top: 5px;
      margin-bottom: 20px;
}

#yyy {
    margin: 0 auto;
}

.ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    margin-right: 40px;
    margin-left: 40px;
}
.li {
    float: left;
}
.li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
}
.active {
    background-color: #4CAF50;
}

.links a {
  display: inline-block;
  color: rgb(88, 88, 88);
  font-size: 1.1rem;
  text-decoration: none;
}
.links a:hover {
  color: rgb(0, 130, 255);
}

#footer {
    width: 100%;
    color: rgb(88, 88, 88);
    float: left;
    text-align: center;
    position: fixed;
    bottom: 0;
    z-index: 100;
    transition: all 0.1s ease-out;
}

#footer:hover {
    background-color: rgba(255,255,255,0.8);
    color: rgb(0, 0, 0);
}


@media screen and (max-width: 1200px) {
    html, body {
        font-size: 18px;
        line-height:1.9em;
    }
    #footer {
        background-color: rgba(255,255,255,.8);
        color: rgb(0, 0, 0);
    }
    .ul {
        margin-right: 35px;
        margin-left: 35px;
    }
    .li a {
        padding: 13px 15px;
    }
    #roboto {
        font-family: "Roboto";
        padding-left: 10%;
  }
  #sans-serif {
        font-family: sans-serif;
        padding-left: 10%;
  }
  #serif {
        font-family: serif;
        padding-left: 10%;
  }
  #monospace {
        font-family: monospace;
        padding-left: 10%;
  }
}
@media screen and (max-width: 530px) {
    html, body {
        font-size: 17px;
        line-height: 1.8em;
    }
    #footer {
        background-color: rgba(255,255,255,.8);
        color: rgb(0, 0, 0);
    }
    .ul {
        margin-right: 25px;
        margin-left: 25px;
    }
    .li a {
        padding: 10px 10px;
    }
    #roboto {
        font-family: "Roboto";
        padding-left: 2%;
  }
  #sans-serif {
        font-family: sans-serif;
        padding-left: 2%;
  }
  #serif {
        font-family: serif;
        padding-left: 2%;
  }
  #monospace {
        font-family: monospace;
        padding-left: 2%;
  }
}