* {
    margin: 0 auto;
    white-space: nowrap;
}

html, body {
    height: 100%;
    line-height: 2em;
    font-size: 1.2em;
}

h1 {
    font-size: 1.8em;
    line-height: 1.4em;
}

h2 {
    font-size: 1.0em;
    line-height: 0.9em;
}

h3 {
    font-size: 1.2em;
    line-height: 1.2em;
}

#roboto {
    font-family: "Roboto";
    padding-left: 5%;
}

#sans-serif {
    font-family: sans-serif;
    padding-left: 5%;
}

#serif {
    font-family: serif;
    padding-left: 5%;
}

#monospace {
    font-family: monospace;
    padding-left: 5%;
}

#yyy {
    margin: 0 auto;
}

.ul {
    overflow: hidden;
    background-color: #333;
    margin-right: 5%;
    margin-left: 5%;
}

.li {
    float: left;
}

.li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 23px;
    text-decoration: none;
}

.active {
    background-color: #4CAF50;
}

.links a {
  display: inline-block;
  color: rgb(88, 88, 88);
  font-size: 1.1rem;
  text-decoration: none;
}

.links a:hover {
  color: rgb(0, 130, 255);
}

#footer {
    width: 100%;
    color: rgb(88, 88, 88);
    float: left;
    text-align: center;
    position: fixed;
    bottom: 0;
    z-index: 11;
    padding: 0.5em 0;
    transition: all 0.1s ease-out;
}

#footer:hover {
    background-color: rgba(255,255,255,0.8);
    color: rgb(0, 0, 0);
}

@media screen and (max-width: 1200px) {
    html, body {
        line-height: 1.8em;
        font-size: 1.15em;
    }

    .ul {
        font-size: 1.05em;
        line-height:1.65em;
    }

    #footer {
        background-color: rgba(255,255,255,.8);
        color: rgb(0, 0, 0);
    }
    
    .li a {
        padding: 14px 16px;
    }
}

@media screen and (max-width: 600px) {
    html, body {
        line-height: 1.75em;
        font-size: 1.1em;
    }

    .ul {
        font-size: 1em;
        line-height: 1.6em;
    }

    #footer {
        background-color: rgba(255,255,255,.8);
        color: rgb(0, 0, 0);
    }

    .li a {
        padding: 10px 11px;
    }
}

@media screen and (max-width: 490px) {
    html, body {
        line-height: 1.7em;
        font-size: 1em;
    }
    .ul {
        font-size: 0.95em;
        line-height: 1.55em;
    }

    #footer {
        background-color: rgba(255,255,255,.8);
        color: rgb(0, 0, 0);
    }
    
    .li a {
        padding: 9px 10px;
    }
}