* {
    margin: 0 auto;
    white-space: nowrap;
}

h1 {
    font-size: 6.5vw;
    line-height: 120%;
}

h2 {
    font-size: 4vw;
    margin-top: 1.8vw;
}

#roboto {
    font-family: "Roboto";
    padding-left: 5%;
    padding-right: 5%;
    line-height: 152%;
    font-size: 3.85vw;
}

#sans-serif {
    font-family: sans-serif;
    padding-left: 5%;
    padding-right: 5%;
    line-height: 152%;
    font-size: 3.85vw;
}

#serif {
    font-family: serif;
    padding-left: 5%;
    padding-right: 5%;
    line-height: 152%;
    font-size: 3.85vw;
}

#monospace {
    font-family: monospace;
    padding-left: 5%;
    padding-right: 5%;
    line-height: 152%;
    font-size: 3.85vw;
}

#yyy {
    overflow: hidden;
}

.ul {
    overflow: hidden;
    margin-right: 5%;
    margin-left: 5%;
    line-height: 9.5vw;
}

.li {
    float: left;
    width: 14.285714285714%;
    box-sizing: border-box;
    background-clip: content-box;
}

.li a {
    display: block;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-size: 3.8vw;
}

.active {
    background-color: #66CC66;
}

.active:hover {
    background-color: #99CCFF;
}

.nothing {
    background-color: #585858;
}

.nothing:hover {
    background-color: #99CCFF;
}

.about {
    background-color: #6699FF;
}

.about:hover {
    background-color: #99CCFF;
}

.links a {
    display: inline-block;
    color: #585858;
    font-size: 3.8vw;
    line-height: 250%;
    text-decoration: none;
}

.links a:hover {
    color: #99CCFF;
}

.header a {
    color: #585858;
    text-decoration: none;
}

.header a:hover {
    color: #99CCFF;
}

#footer {
    width: 100%;
    color: #585858;
    background-color: #FFFFFFCC;
    float: left;
    text-align: center;
    position: fixed;
    bottom: 0;
    z-index: 11;
    padding: 0.5em 0;
    transition: all 0.5s ease-out;
}

#footer:hover {
    background-color: #FFFFFF;
    color: #000000;
}

@media screen and (min-width: 720px) {
    h1 {
        font-size: 2.93em;
        line-height: 56px;
    }
    h2 {
        font-size: 1.03em;
        margin-top: 0.45em;
    }
    #roboto {
        line-height: 42px;
        font-size: 1.74em;
    }
    #sans-serif {
        line-height: 42px;
        font-size: 1.74em;
    }
    #serif {
        line-height: 42px;
        font-size: 1.74em;
    }
    #monospace {
        line-height: 42px;
        font-size: 1.74em;
    }
    .ul {
        line-height: 68px;
    }
    .li a {
        font-size: 1.75em;
    }
    .links a {
        font-size: 1.75rem;
    }
}